@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, black, white);
  height: 400vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
